/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;   top: 0;   width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow-x: scroll;
}
.cartModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;   top: 0;   width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow-x: scroll;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;

}

.cart-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: end;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The cart-Close Button */
.closeCart {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: end;
}

.closeCart:hover, .closeCart:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.thumbnails {
    width: 300px;
}

.cartThumbnail {
    width: 100px;
}

.thumbnails:hover, .thumbnails:focus {
    cursor: pointer;
}

.checkoutTable {
    text-align: center;
}

.cartSection{
padding: 40px;
    position: fixed;
    right: 0px;
    bottom:0px;
    background-color: #fefefe;
    border-radius: 50px;
    border-color: #fefefe;
    border-width: 4px;
    cursor: pointer;

}

.reciptMessage {
    text-align: center;
    font-size: 25px;
}

#coverChipsys{
    alignment: center;
}

