<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Premium</th>
            <th> </th>
        </tr>
    </thead>

    <tbody>
    <tr th:if="${customers.isEmpty()}">
        <td colspan="4">No customers in database</td>
    </tr>
    <tr th:each="customer : ${customers}">
        <td><span th:text="${customer.id}">ID</span></td>
        <td><span th:text="${customer.firstName}">Firstname</span></td>
        <td><span th:text="${customer.lastName}">Lastname</span></td>
        <td><span th:text="${customer.email}">Email</span></td>
        <td><span th:text="${customer.premiumCustomer}">Premium</span></td>

        <td>
            <div class="col">
                <a th:href="@{'/adminPage/purchases/' + ${customer.id}}" class="btn btn-success">Go to Purchases</a>
            </div>
        </td>



    </tr>
    </tbody>
</table>

<div class="col">
    <a th:href="@{/customers/logout}" class="btn btn-success">Log out</a>
</div>

</body>
</html>