<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>

<body>
<h1>Customer Page</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <a th:href="@{/customers/logout}" class="btn btn-success">Log out</a>
        </div>
        <div class="col">
            <a th:href="@{/}" class="btn btn-success">Cart</a>
            <input type="text"> <button type="submit" class="btn btn-success">Search</button>
        </div>
        <div class="col">
            <a th:href="@{/checkout}" class="btn btn-success">Check Out</a>
        </div>
    </div>


</div>


<table class="table table-hover">
    <thead>
    <tr>
        <th>Brand</th>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="chips: ${allChips}">
        <td th:text="${chips.getBrand()}"></td>
        <td><img th:src="'/images/' + ${chips.getImage()}"></td>
        <td th:text="${chips.getName()}"></td>
        <td th:text="${chips.getPrice()}"></td>
    </tr>
    </tbody>
</table>


</body>

</html>