<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>


<nav class="navbar fixed-top navbar-expand-lg bg-light navbar-light ">

    <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-4">
            <form action="#" th:action="@{/chips/list/chips/search}" method="get">
                <input type="text" name="search" id="search" class=""/>
                <input type="submit" value="Search" class="btn btn-outline-success my-2 my-sm-0"/>
            </form>
        </li>
        <li class="nav-item mx-4">
            <a th:href="@{/checkout}" class="nav-link">Check Out</a>
        </li>
        <li class="nav-item mx-4">
            <a th:href="@{/customers/logout}" class="nav-link">Log out</a>
        </li>
    </ul>
</nav>



</div>

<div class="d-flex justify-content-center">
    <h1 id="coverChipsys"><img th:src="'/images/cover.png'" class="mt-5"></h1>
</div>


<table class="table table-hover">

    <thead>
    <tr>
        <th></th>
        <th>Brand</th>
        <th>Flavor</th>
        <th>Price</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="chips: ${allChips}">

        <td>
            <a th:id="${chips.id}" onclick="getId(this.id)">
                <img th:src="'/images/' + ${chips.getImage()}" class="thumbnails">
            </a>
        </td>
        <td th:text="${chips.getBrand()}"></td>
        <td th:text="${chips.getName()}"></td>
        <td th:text="${chips.getPrice()}"></td>
        <td>
            <a th:href="@{'/add/'+${chips.id}}" class="btn btn-success">Add to cart</a>
        </td>
    </tr>
    </tbody>
</table>

<div class="cartSection">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="https://img.icons8.com/material-rounded/48/000000/shopping-cart.png"/>
            </div>
            <div class="col">
                <div class="row">
                    <span th:text="${totalAmountOfItems}"></span><span >&nbsp;Item(s)</span>
                </div>
                <div class="row">
                    <span th:text="${totalsum}"></span><span>&nbsp;SEK</span>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Item picture</th>
                <th>Flavor</th>
                <th>Brand</th>
            </tr>
            </thead>
            <tbody id="modal-table">
            <tr>

            </tr>
            </tbody>
        </table>
    </div>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/

    function getId(clicked_id) {
        let imageId = clicked_id;

        let chips = [[${allChips}]];

        let chipsObject = findObjectByKey(chips, "id", imageId);
        let flavor = document.createTextNode(chipsObject.name);
        let brand = document.createTextNode(chipsObject.brand);

        let img = document.createElement('img');
        img.src = "/images/" + chipsObject.image;
        let table = document.getElementById("modal-table");
        document.getElementById("modal-table").deleteRow(0);
        let row = table.insertRow();
        let cell1 = row.insertCell();
        let cell2 = row.insertCell();
        let cell3 = row.insertCell();
        cell1.appendChild(img);
        cell2.appendChild(flavor);
        cell3.appendChild(brand);

        modal.style.display = "block";
        let span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }

    function findObjectByKey(array, key, value) {
        for (let i = 0; i < array.length; i++) {
            if (array[i][key] == value) {
                return array[i]
            }
        }
        return null;
    }

    // Get the modal
    let modal = document.getElementById("myModal");
    /*]]>*/
</script>


</body>

</html>