<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>

<body>


<form action="#" th:action="@{/users/login}"
      th:object="${userlogin}" method="POST">
    <label>Email: </label>
    <input type="text" th:field="*{email}" placeholder="Email"><br>
    <label>Password: </label>
    <input type="password" th:field="*{password}" placeholder="password"><br>

    <button type="submit" class="btn btn-success">Login</button>
    <br>
    <a th:href="@{/registration}" class="btn btn-success">Register</a><br/>

    <span th:text="${errormessage}"></span>
</form>


</body>

</html>