<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Item picture</th>
        <th>Item name</th>
        <th>Item Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="4==5">
        <td colspan="4">No customers in database</td>
    </tr>
    <tr>

    </tr>

    </tbody>
</table>

</body>
</html>