<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Item picture</th>
        <th>Item name</th>
        <th>Item Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${chips.isEmpty()}">
        <td colspan="4">No chips purchase in database</td>
    </tr>
    <tr th:each="chipsObject : ${chips}">
        <td><img th:src="@{'/images/' + ${chipsObject.image}}"></td>
        <td><span th:text="${chipsObject.name}">Name</span></td>
        <td><span th:text="${chipsObject.price}">Price</span></td>
    </tr>

    </tbody>
</table>
<form action="#" th:action="@{'/adminPage/purchases/' + ${customer.id}}">
    <button type="submit" class="btn btn-info">BACK</button>
</form>
</body>
</html>