<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>Item picture</th>
        <th>Item Quantity</th>
        <th>Item name</th>
        <th>Item Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${chips.isEmpty()}">
        <td colspan="4">No chips purchase in database</td>
    </tr>
    <tr th:each="chipsObject : ${chips}">
        <td>
            <a th:id="${chipsObject.id}" onclick="getId(this.id)">
                <img th:src="@{'/images/' + ${chipsObject.image}}" class="thumbnails">
            </a>
        </td>
        <td><span th:text="${chipsObject.quantity}">Quantity</span></td>
        <td><span th:text="${chipsObject.name}">Name</span></td>
        <td><span th:text="${chipsObject.price} + ' Kr/st'">Price</span></td>
    </tr>

    </tbody>
</table>
<div class="col">
    <a th:href="@{'/adminPage/purchases/' + ${customer.id}}" class="btn btn-success">Back</a>
</div>

<!-- Trigger/Open The Modal  <button id="myBtn">Open Modal</button> -->

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Item picture</th>
                <th>Flavor</th>
                <th>Brand</th>
            </tr>
            </thead>
            <tbody id="modal-table">
            <tr>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/

    function getId(clicked_id) {
        let imageId = clicked_id;

        let chips = [[${chips}]];

        let chipsObject = findObjectByKey(chips, "id", imageId);
        let flavor = document.createTextNode(chipsObject.name);
        let brand = document.createTextNode(chipsObject.brand);

        let img = document.createElement('img');
        img.src = "/images/" + chipsObject.image;
        let table = document.getElementById("modal-table");
        document.getElementById("modal-table").deleteRow(0);
        let row = table.insertRow();
        let cell1 = row.insertCell();
        let cell2 = row.insertCell();
        let cell3 = row.insertCell();
        cell1.appendChild(img);
        cell2.appendChild(flavor);
        cell3.appendChild(brand);

        modal.style.display = "block";
        let span = document.getElementsByClassName("close")[0];
        span.onclick = function() {   modal.style.display = "none"; }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            } }
    }

    function findObjectByKey(array, key, value) {
        for (let i = 0; i < array.length; i++) {
            if(array[i][key] == value) {
                return array[i]
            }
        }
        return null;
    }

    // Get the modal
    let modal = document.getElementById("myModal");
    /*]]>*/
</script>
</body>
</html>