<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Purchases</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<table class="table table-hover">

    <h3><span>Purchases for customer </span><br/> <span th:text="${chosencustomer.firstName}"></span> <span> </span> <span th:text="${chosencustomer.lastName}"></span></h3>
    <thead>
        <tr>
            <th>Purchase ID</th>
            <th>Purchase Date</th>
            <th>Purchase Cost</th>
            <th>Purchase Info</th>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${purchases.isEmpty()}">
            <td colspan="4">No purchases in database</td>
        </tr>
        <tr th:each="purchase: ${purchases}">
            <td><span th:text="${purchase.id}">Purchase ID</span></td>
            <td><span th:text="${purchase.dateOfPurchase}">Purchase Date</span></td>
            <td><span th:text="${purchase.purchasePrice}">Purchase Date</span></td>

            <td>
                <div class="col">
                    <a th:href="@{'/adminPage/purchaseInfo/' + ${purchase.id}}" class="btn btn-success">Go to PurchaseInfo</a>
                </div>
            </td>

        </tr>

    </tbody>
</table>

<div class="col">
    <a th:href="@{/adminPage/list}" class="btn btn-success">Back</a>
</div>

</body>
</html>